{% load static %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">Stock Mgmt V2.0</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <link href = "{% static 'css/stylesheet.css' %}" rel = "stylesheet">
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <!-- <a class="nav-link" href="/list_items">List Items</a> -->
      </li>
     <!--  <li class="nav-item">
        <a class="nav-link" href="/add_items">Add Items</a>
      </li>
      <li class="nav-item">
        <a class = "nav-link" href = "/list_history">List History</a>
      </li> -->
      {% endif %}
    </ul>
    <ul class = "navbar-nav">
      {% if request.user.is_authenticated %}
      <li><a href="/accounts/logout/"><button class = "btn btn-danger">{{ user }} | Logout</button></a></li>
      {% else %}
      <li><a href="/accounts/login">Login</a></li>
      {% endif %}
    </ul>
  </div>
</nav>



<a href="#"><div id ="version-display" data-toggle = "modal" data-target ="#myModal">SMIS Ver:1.0</div></a>
<div id ='myModal' class = "modal fade" role ="dialog">
  <div class="modal-dialog">
    <div class="modal-header">
      <h4 class = "modal-title">System Information</h4>
    </div>
    <div class = "modal-body">
      <div class ="dev-info">
        <p class =""><b>STOCK MANAGEMENT INFORMATION SYSTEMS</b></p>
        <P>VERSION: 1.0</P><br>
        <p class="modal-header">DEVELOPER:</p>
        <p>SUDHEER</p>
        <p>1111111</p>
        <p><a href="https://www.w3schools.com/" target = "_blank">
        <p><img src="/static/img/logo1.png" alt="Developer Logo"></p>
      </a></p>
      </div>
    </div>
    <div class = "modal-footer">
      <button type = "button" class="btn btn-default" data-dismiss="modal" >Close</button>
    </div>
  </div>
</div>